<br>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-4">
      <div class="card" style="width: 18rem;">
        <%= image_tag @book.image_url,class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= @book.title %></h5>
          <p class="card-text"><%= @book.item_caption %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @book.author %></li>
        </ul>
      </div>
      <br>
      <!--ゲストは投稿できない-->
      <% unless current_user.name == "guest" %>
      <!--レビューコメントフォーム-->
      <%= form_with model: @review, url: "/public/books/#{@book.id}/reviews", method: :post do |f| %>
        <div class="form-group">
          <%= f.label :title,"タイトル" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body,"本文" %>
          <%= f.text_area :body, class: "form-control" %>
          <%= f.hidden_field :book_id, :value => @book.id  %>
        </div>
        <!--タグ付け-->
        <div class="form-group">
          <%= f.label :tag_name,"どの世代におすすめですか？（スペースキーで複数タグを付けられます）" %>
          <%= f.text_field :tag_name, placeholder: "10代 20代 30代", class: "form-control" %>
        </div>
        <!--星レビュー-->
        <div id="star">
          <label>評価</label>
        </div>
        <div class="actions">
          <%= f.submit "レビューする",class: "btn btn-success" %>
        </div>
        <script>
          $('#star').raty({
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'review[star]' // Reviewモデルのstarカラムに値を保存する
          });
        </script>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center" >レビュー投稿一覧</h1>
        </div>
        <div class="card-body">
          <p class="card-text">
            <table>
              <thead>
                <tr>
                  <th>名前</th>
                  <th>タイトル</th>
                  <th>内容</th>
                  <th>評価</th>
                </tr>
              </thead>
              <tbody>
                <% @book.reviews.each do |review| %>
                  <tr>
                    <td><%= link_to review.user.name,public_user_path(review.user_id) %></td>
                    <td><%= review.title %></td>
                    <td><%= review.body %></td>
                    <td><%= review.star %>点</td>
                    <td class="review-star" data-score="<%= review.star %>"></td>
                    <td>
                      <!--タグ-->
                    <% review.tags.each do |tag| %>
                      #<%= link_to tag.tag_name, tag_reviews_path(tag_id: tag.id) %>
                      <%= "(#{tag.reviews.count})" %>
                    <% end %>
                    </td>
                    <td>
                      <!--いいね機能-->
                      <% if review.favorited_by?(current_user) %>
                        <p>
                          <%= link_to public_book_review_favorites_path(review_id: review.id), method: :delete do %>
                            ♥<%= review.favorites.count %> いいね
                          <% end %>
                        </p>
                        <% else %>
                        <p>
                          <%= link_to public_book_review_favorites_path(review_id: review.id), method: :post do %>
                            ♡<%= review.favorites.count %> いいね
                          <% end %>
                        </p>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <script>
              $('.review-star').raty({
                readOnly: true,
                score: function() {
                  return $(this).attr('data-score');
                },
                path: '/assets/'
              });
            </script>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>