<h1>新規レビュー投稿</h1>
<div class="card" style="width: 18rem;">
  <%= image_tag @book.image_url,class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= @book.title %></h5>
    <p class="card-text"><%= @book.item_caption %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @book.author %></li>
  </ul>
</div>

<!--レビューフォーム-->
<%= form_with model: @review, url: "/public/books/#{@book.id}/reviews" do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= f.hidden_field :book_id, :value => @book.id %>
  <%= f.submit "レビューする" %>
<% end %>

<!--レビュー一覧-->
<% @book.reviews.each do |review| %>
  <%= review.user.name %>
  <%= review.title %>
  <%= review.body %>
<% end %>
