<div class="container">
  <div class="row mt-4">
    <div class="col-4">
      <!--ホバー画像-->
      <%= link_to @book.url do %>
      <div class="rakten-img">
        <%= image_tag @book.image_url,class:"img-fluid" %>
      	<div class="mask">
      		<div class="caption">楽天Booksへ!</div>
      	</div>
      </div>
      <% end %>

      <div class="card text-bg-secondary mt-3 mb-3">
        <div class="card-header text-center"><strong>Review Comment</strong></div>
        <div class="card-body">
          <!--ゲストは表示させない-->
          <% unless current_user.name == "guest" %>
          <!--レビューコメントフォーム-->
          <%= form_with model: @review, url: "/public/books/#{@book.id}/reviews", method: :post, local:false do |f| %>
          <!--エラーメッセージ-->
          <div id="error_message">
            <%= render 'layouts/error_messages', model: @review %>
          </div>
            <div class="form-group">
              <%= f.label :title,"タイトル" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :body,"本文" %>
              <%= f.text_area :body, class: "form-control" %>
              <%= f.hidden_field :book_id, :value => @book.id  %>
            </div>
            <!--タグ付け-->
            <div class="form-group">
              <%= f.label :tag_name,"どの世代におすすめですか？（半角スペースキーで複数タグを付けられます）" %>
              <!--テスト-->
              <%= f.password_field :tag_name, placeholder: "10代 20代 30代", class: "form-control" %>
            </div>
            <!--星レビュー-->
            <div id="star">
              <label>評価</label>
            </div>
            <div class="actions">
              <%= f.submit "レビューする",class: "btn btn-success" %>
            </div>
            <script>
              $('#star').raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'review[star]' // Reviewモデルのstarカラムに値を保存する
              });
            </script>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!--一覧画面-->
    <div class="col-8">
      <h1><%= @book.title %></h1>
      <p><%= @book.item_caption %></p>
      <div class="h5 pb-2 mb-4 text-dark border-bottom border-dark">
       <p class="text-right">著：<%= @book.author %></p>
      </div>
      <!--カード-->
      <div id="reviews_list">
        <%= render 'public/reviews/index', book: @book %>
      </div>
        <script>
        $('.review-star').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          readOnly: true,
          score: function() {
            return $(this).attr('data-score');
          },
        });
      </script>
  </div>
</div>