<h1>新規レビュー投稿</h1>
  <%= image_tag @book.image_url %>
  <%= @book.title %>
  <%= @book.author %>
  <%= @book.item_caption %>

<!--レビュー一覧-->
<% @reviews.each do |review| %>
  <%= review.user.name %>
  <%= review.title %>
  <%= review.body %>
<% end %>