<div class="container">
  <div class="row">
    <div class="col-lg-8 pt-3 pb-3 mx-auto text-center">
      <h3><strong>Book Reviews</strong></h3>
      <p>お気に入りの本を見つけてレビューしよう！</p>
      <%= render 'public/books/form', title: @title %>
    </div>
  </div>
  <%= render 'public/books/taglist', tag_list: @tag_list %>
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">
  <h3><strong>New</strong></h3>
</div>
<!--ブックレビュー一覧-->
  <div class="row">
    <% @books.each do |book| %>
    <div class="col-lg-2">
      <div class="card shadow">
        <%= link_to new_public_book_review_path(book) do %>
          <%= image_tag book.image_url,class:"card-img-top" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <br>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">
    <h3><strong>Rank</strong></h3>
  </div>
  <!--配列の1つ目から順に1位、２位と表示される-->
  <div class="row">
  <% @book_review_ranks.each.with_index(1) do |book, i| %>
    <div class="col-lg-2">
      <div class="card shadow">
        第<%= i %>位
        <%= link_to new_public_book_review_path(book) do %>
          <%= image_tag book.image_url,class:"card-img-top" %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
<br>