<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <!--アラート-->
    <%= notice %>
    <%= alert %>
    <!--年代別ジャンル-->
    <nav class="navbar bg-light">
    <form class="container-fluid justify-content-center">
      <button type="button" class="btn-outline-secondary btn-lg mr-1">10代</button>
      <button type="button" class="btn-outline-secondary btn-lg mr-1">20代</button>
      <button type="button" class="btn-outline-secondary btn-lg mr-1">30代</button>
      <button type="button" class="btn-outline-secondary btn-lg mr-1">40代</button>
      <button type="button" class="btn-outline-secondary btn-lg mr-1">50代</button>
      <button type="button" class="btn-outline-secondary btn-lg mr-1">40代</button>
    </form>
    </nav>
    
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
