<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <script src="https://kit.fontawesome.com/e35a94ee4b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top:4.5rem;">
    <%= render 'layouts/header' %>
    <!--アラート-->
    <% if flash[:notice ] %>
      <div class="alert alert-primary">
        <%= notice %><button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger">
        <%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
